noscript {
  color: red;
  font-size: 150%;
  text-align: center;
  display: block;
}

.md-toast-error   { background-color: #ffb0b0; }
.md-toast-success { background-color: #c3fdb8; }
.md-toast-info    { background-color: #82cafa; }
.md-toast-warning { background-color: #fff7a7; }

.card-header-mod {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.badge-light-mod {
  background-color: gold;
}

@media (min-width: 575.98px) {
.button-width-mod { min-width: 85px; }
}

table {
  max-height: 400px;
  overflow-y: scroll;
}

table td { white-space: nowrap; }

.table-hover tbody tr:hover {
  color:#212529 !important;
  background-color:rgba(0,0,0,.075) !important;
}
